.desc
{
    min-height:199px;
}
.lefts
{
    width: 80%;
    float: left;
}
.rights
{
    vertical-align: middle;
}
.tit
{
    background-image: url('/assets/falling-autumn-leaves-divider.gif');
    background-repeat: repeat-x;
    background-size: 100% auto;
    /*background-position: center;*/
}
