<main role="main">
  <div class="jumbotron div1">
    <div class="container text-center">
      <h1 class="display-3 ">LaraBun</h1>
      <p>Laravel & Bun lovers</p>
      <p>
        <a class="btn btn-primary btn-lg" [routerLink]="['/register']" role="button">Register</a>
      </p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>Backend</h2>
        <p class="desc">
          Backend is built with PHP and Laravel
        </p>
        <p>
          <a class="btn btn-secondary" href="https://laravel.com/" role="button">Laravel &raquo;</a>
        </p>
      </div>
      <div class="col-md-4">
        <h2>Fontend</h2>
        <p class="desc">
            Fontend is built with Angular and Bootstrap
        </p>
        <p>
          <a class="btn btn-secondary" href="https://angular.io" role="button">Angular &raquo;</a>
        </p>
      </div>
      <div class="col-md-4">
        <h2>Source</h2>
        <p class="desc">View Source on GitHub: https://github.com/privet56/LaraBun</p>
        <p>
          <a class="btn btn-secondary" href="https://github.com/privet56/LaraBun" role="button">Source &raquo;</a>
        </p>
      </div>
    </div>
  </div>
</main>




